.toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;

  background: #111;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 22px;
  font-weight: bold;

  cursor: pointer;
}

.spacer {
  flex: 1;
}