.anime-card {
  height: 100%;

  background: #181818;
  color: white;

  transition: transform 0.3s;
}

.anime-card:hover {
  transform: translateY(-8px);
}

.anime-card img {
  height: 320px;

  object-fit: cover;
}

.anime-card h2 {
  margin-top: 10px;
}

.rating {
  color: #ffd740;
  font-weight: bold;
}

.genres {
  display: flex;
  gap: 5px;

  flex-wrap: wrap;
}

.genres span {
  background: #333;
  padding: 4px 8px;

  border-radius: 12px;

  font-size: 12px;
}