.catalogo {
  min-height: 100vh;

  padding: 110px 40px 40px;

  background: #0b0b0b;
  color: white;
}

.catalogo h1 {
  font-size: 40px;
}

.search {
  width: 100%;
  max-width: 600px;

  margin: 20px 0 40px;
}

.anime-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(220px, 1fr));

  gap: 25px;
}